.canvas {
    top: 60px;
    left: 56px;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.5);

    .rectangle {
        fill: inherit;
        top:inherit;
        left: inherit;

    }
}

#myGrid {
    visibility: hidden;
}