<!--This snippet of SVG shows the preview of the rectangle; Should be conditionally loaded into the canvas-->
<rect [attr.x]="getX()" [attr.y]="getY()" [attr.width]="getRectW()" [attr.height]="getRectH()"
  [style.stroke]="getSecondColor()" 
  [style.stroke-opacity]="_strokeOpacity"
  [style.fill]="getPrimeColor()"
  [style.fill-opacity]="_fillOpacity" />

<!--This snippet of SVG shows all saved rectangles; Should be added to the canvas.-->
<g *ngFor="let rectangle of rectangles">
  <rect [attr.x]="rectangle.x" [attr.y]="rectangle.y" [attr.width]="rectangle.width" [attr.height]="rectangle.height"
    [style.stroke]="rectangle.secondColor" 
    [style.fill]="rectangle.primeColor"  
    [style.stroke-opacity]="rectangle.strokeOpacity"
    [style.fill-opacity]="rectangle.fillOpacity"/>
</g>