<div>
    <svg tabindex="0" class="mock-canvas" [attr.width]="data.drawingWidth" [attr.height]="data.drawingHeight"
        [attr.fill]="data.drawingColor">
        <rect class="mock-rectangle" width=100% height=100% />

        <!--This snippet of SVG shows all saved rectangles; Should be added to the official canvas along with
    retrieval of saved rectangles from the service in the canvas typescript file.-->
    <g *ngFor="let rectangle of drawnRectangles">
        <rect [attr.x] ="rectangle.x" [attr.y]="rectangle.y" [attr.width]="rectangle.width" [attr.height]="rectangle.height"
        [style.stroke]="rectangle.secondColor" 
        [style.fill]="rectangle.primeColor"  
        [style.stroke-opacity]="rectangle.strokeOpacity"
        [style.stroke-width]="rectangle.strokeWidth"
        [style.fill-opacity]="rectangle.fillOpacity"
        />
    </g>
    
    <g *ngFor = "let line of drawnLines">
            <polyline 
            [attr.points]="line.points"
            [style.fill]="line.fill"
            [style.stroke]="line.color"
            [style.stroke-width]="line.strokeWidth"
            [style.stroke-linecap]="line.strokeLinecap"
            [style.stroke-linejoin]="line.strokeLinecap"
            />
        </g>
    
    <g *ngFor = "let line of drawnPaints">
        <filter id="displacementFilter">
            <feTurbulence type="turbulence" [attr.baseFrequency]="line.filter.baseFrequency" 
                [attr.numOctaves]="line.filter.numoctaves" result="turbulence" />
            <feDisplacementMap in2="turbulence" in="SourceGraphic" [attr.scale]="line.filter.scale" 
                xChannelSelector="R" yChannelSelector="G" />
        </filter>
            
        <polyline [attr.points]="line.points" 
            [style.fill]="line.fill" 
            [style.stroke]="line.color"
            [style.stroke-width]="line.strokeWidth" 
            [style.stroke-linecap]="line.strokeLinecap"
            [style.stroke-linejoin]="line.strokeLinecap" 
            style="filter: url(#displacementFilter)" />
    </g>
    

</svg>

    <div *ngIf="storage.isRectangle">
        <app-tools-rectangle #activeShape [windowWidth]="data.drawingWidth" [windowHeight]="data.drawingHeight">
        </app-tools-rectangle>
        <app-shape-toolbox [shapeComponent]="activeShape"></app-shape-toolbox>
    </div>
    <div  *ngIf="storage.isCrayon">
        <app-crayon #activeCrayon [windowWidth]="data.drawingWidth" [windowHeight]="data.drawingHeight"></app-crayon>
        <app-drawing-tool-toolbox [drawingToolComponent]="activeCrayon" ></app-drawing-tool-toolbox>
    </div>
    <div  *ngIf="storage.isPinceau">
            <app-pinceau #activePinceau [windowWidth]="data.drawingWidth" [windowHeight]="data.drawingHeight"></app-crayon>
            <app-drawing-tool-toolbox [drawingToolComponent]="activePinceau" ></app-drawing-tool-toolbox>
        </div>
</div>