<div>
    <svg tabindex="0" class="mock-canvas" [attr.width]="data.drawingWidth" [attr.height]="data.drawingHeight" [attr.fill]="data.drawingColor">
        <rect class="mock-rectangle" width=100% height=100%/>   
    
    <!--This snippet of SVG shows all saved rectangles; Should be added to the official canvas along with
    retrieval of saved rectangles from the service in the canvas typescript file.-->
    <g *ngFor="let rectangle of drawnRectangles">
        <rect [attr.x] ="rectangle.x" [attr.y]="rectangle.y" [attr.width]="rectangle.width" [attr.height]="rectangle.height"
        [style.stroke]="rectangle.secondColor" 
        [style.fill]="rectangle.primeColor"  
        [style.stroke-opacity]="rectangle.strokeOpacity"
        [style.stroke-width]="rectangle.strokeWidth"
        [style.fill-opacity]="rectangle.fillOpacity"/>
    </g>

    <g *ngFor="let line of drawnLines">
        <polyline 
        [attr.points]="line.points"
        [style.fill]="line.fill"
        [style.stroke]="line.color"
        [style.stroke-width]="line.strokeWidth"
        [style.stroke-linecap]="line.strokeLinecap"
        [style.stroke-linejoin]="line.strokeLinecap"
        [style.filter]="line.filter" />
    </g>

    </svg>

    <div  *ngIf="storage.isRectangle">
        <app-tools-rectangle #activeShape [windowWidth]="data.drawingWidth" [windowHeight]="data.drawingHeight"></app-tools-rectangle>
        <app-shape-toolbox [shapeComponent]="activeShape"></app-shape-toolbox>
    </div>
    <div  *ngIf="storage.isCrayon">
        <app-crayon #activeDrawingTool [windowWidth]="data.drawingWidth" [windowHeight]="data.drawingHeight"></app-crayon>
        <app-drawing-tool-toolbox [drawingToolComponent]="activeDrawingTool" ></app-drawing-tool-toolbox>
    </div>
</div>