<svg class='textZone' tabindex="0" x=0 y=0 [attr.width]="windowWidth" [attr.height]="windowHeight">
    <g>
        <text [attr.x]="text.x" [attr.y]="text.y"
        [style.font-size]="text.fontSize + 'pt'"
        [style.font-style]="text.italic"
        [style.font-weight]="text.bold"
        [style.font-family]="fontFamilySelection"
        [style.fill]="text.primaryColour"
        [attr.text-anchor]="text.align">
            <tspan [attr.x]="text.x" dy="1.2em" *ngFor='let line of text.lines'>{{ line }}</tspan>
        </text> 
    </g>
</svg> 
