#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/
/.vscode/
/.idea/

# ignoring node_module changes; these should be rebuilt locally and not cloned 
/node_modules

# Don't keep the package-lock.json !
package-lock.json
yarn.lock
