<div mat-dialog-container class='gallery_window'>
    <h1 mat-dialog-title id='gallery_window_title'>{{data.title}}</h1>
    <div mat-dialog-content>
        <div>
            <div class="row" style="margin-top:10px;margin-bottom: 10px;">
                <mat-button-toggle selected="true" mat-raised-button class="btn btn-success"
                    (click)="tagSelected('all')">Tous</mat-button-toggle>
                <mat-button-toggle-group #group="matButtonToggleGroup" multiple>
                    <div *ngFor="let tag of data.filterTags">
                        <mat-button-toggle mat-raised-button class="btn btn-success" (click)="tagSelected(tag.name)">
                            {{tag.name}}</mat-button-toggle>
                    </div>
                </mat-button-toggle-group>
            </div>
            <div class="row">
                <ul>
                    <li id="list-style" *ngFor="let drawing of (drawingsInGallery | filterTags: filterBy)"
                        (click)="onSelect(drawing)" [class.selected]="drawing === selectedDrawing">
                        <h2>{{drawing.name}}</h2>
                        <button mat-button [matMenuTriggerFor]="menu">Étiquettes</button>

                        <mat-menu #menu="matMenu">
                            <div *ngFor="let tag of drawing.tags">
                                <h3 id="header">{{tag.name}}</h3>
                            </div>
                        </mat-menu>

                        <app-preview-canvas width="100px" height="100px" [display]='drawing'></app-preview-canvas>

                    </li>
                </ul>
            </div>
        </div>
        <button id="close" type="button" mat-raised-button (click)="onClose()">Fermer</button>
        <button id="submit" type="submit" mat-raised-button (click)="onAcceptClick()">Accepter</button>
    </div>
</div>