<div mat-dialog-container class='gallery_window'>
    <h1 mat-dialog-title id='gallery_window_title'>{{data.title}}</h1>
    <div mat-dialog-content>
        <div>
            <div class="row" style="margin-top:10px;margin-bottom: 10px;">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                    <button mat-raised-button class="btn btn-success" (click)="filterBy='all'">Tous</button>
                </div>
            </div>
            <div class="row">
                <ul>
                    <!-- <li *ngFor="let img of (allImages | filterimages:filterBy)">
                        <a [routerLink]="['/image', img.id]">
                            <img src="{{img.url}}" class="img" width="240" height="170">
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <button id="close" type="button" mat-raised-button (click)="onClose()">Fermer</button>
        <button id="submit" type="submit" mat-raised-button (click)="onAcceptClick()">Accepter</button>
    </div>
</div>