<div mat-dialog-container class='save_window'>
    <h1 mat-dialog-title id='save_window_title'>{{data.title}}</h1>
    <div mat-dialog-content>
        <h3 id="header-3">Veuillez entrer les informations nécessaires pour sauvegarder le dessin.</h3>
        <form (ngSubmit)="onAcceptClick()" #saveDrawingForm="ngForm">
            <div class="form-group">
                <label for="nameInput">Nom: </label>
                <mat-form-field appearance="fill">
                    <input matInput required id="nameInput" name="nameInput" class="form-control"
                        [(ngModel)]="data.name" placeholder="Nom du dessin." #nameInput="ngModel">
                    <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="alert alert-danger">
                        <mat-error *ngIf="nameInput.errors.required">
                            Le nom du dessin ne doit pas être nul.
                        </mat-error>
                    </div>
                </mat-form-field>
                <label for="userTagInput">Étiquettes: </label>
                <mat-form-field appearance="fill">
                    <input #userTagInput matInput id="userTagInput" name="userTagInput" class="form-control" 
                        placeholder="(Optionnel).">
                </mat-form-field> 
                <button id="add" mat-raised-button (click)="addTag(userTagInput.value)">Ajouter l'étiquette</button>
                <ul><li id="list-style" *ngFor="let tag of data.displayedTags"><button mat-stroked-button (click)="clickOnTag(tag)" [class.selected-tag]="tag.isSelected">#{{tag.name}}</button></li></ul>
            </div>
        </form>
        <button id="close" type="button" mat-raised-button (click)="onClose()">Fermer</button>
        <button id="submit" mat-raised-button  [disabled]="!nameInput.valid" (click)="onAcceptClick()">Accepter</button>
    </div>
</div>