<div class="color-wrapper">
  <app-color-palette [hue]="hue" (color)="color = $event" (colors)="colors = $event"></app-color-palette>
<!--
    <div class="clearfix">
      <div class="box" [ngStyle]="{'background-color': colors[0] || '#bbb' }">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[2] ||'#ccc'}">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[4] ||'#ddd'}">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[6] ||'#ccc'}">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[8] ||'#bbb'}">
      </div>
    </div>
    <div class="clearfix">
      <div class="box" [ngStyle]="{'background-color': colors[1] ||'#ddd'}">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[3] ||'#bbb'}">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[5] ||'#ccc'}">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[7] ||'#bbb'}">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[9] ||'#ddd'}">
      </div>
    </div>
-->
</div>

<div class="input-wrapper">
  <!--<span class="text">{{color}}</span>-->
  <div
    class="color-div"
    [ngStyle]="{'background-color': color || 'white'}"
  ></div>

  
</div>

<div>
  Input <input id="hex" type="text" class="input-color" (ngOnChanges)="setColor()">
</div>

 <app-color-inputs ></app-color-inputs>

<div>
  Transparency <input type="range" class="slider" min="0" max="100" onchange="setAlpha()">
</div>

