
<svg tabindex="0" class='previewSprayCan' x=0 y=0 [attr.width]="windowWidth" [attr.height]="windowHeight">
  
  <filter #sprayCanFilter id="spraycan" [attr.width]="diametre" [attr.height]="diametre" >
    <feGaussianBlur in="SourceGraphic" result="blurredCircle" stdDeviation="10"/>
    <feTurbulence type="turbulence" [attr.seed]="150" baseFrequency="1" stitchTiles="stitch" numOctaves="2" result="turbulence"/>
    <feDisplacementMap in2="turbulence" in="SourceGraphic"
      scale="60" xChannelSelector="R" yChannelSelector="B"/>
  </filter>

  <g *ngFor="let position of sprayData.sprays">
    <circle [attr.cy]= "position.cy" [attr.opacity]="0.4" [attr.r]="sprayData.radius" [attr.cx]= "position.cx" 
    [attr.fill]="black" filter="url(#spraycan)"/>

  </g>
</svg> 