<div mat-dialog-container class='new_drawing' style="font-family: Arial, Helvetica, sans-serif">
    <h1 mat-dialog-title id='new_drawing_title'>{{data.title}}</h1>
    <div mat-dialog-content>
        <h3 style="font-size: 11pt">Please enter the dimensions of your drawing:</h3>
        <div class="dimension-input">
            <h4>Height:</h4>
            <mat-form-field appearance="fill">
                <input matInput id="heightInput" name="heightInput" class="form-control" pattern="^[1-9][0-9]*$"
                    [(ngModel)]="data.drawingHeight" placeholder="Window height: {{data.defaultHeight}}px"
                    #heightInput="ngModel">
                <div *ngIf="heightInput.invalid && (heightInput.dirty || heightInput.touched)"
                    class="alert alert-danger">
                    <mat-error *ngIf="heightInput.errors.pattern">
                        Height must be numeric and not start with 0.
                    </mat-error>
                </div>
            </mat-form-field>
        </div>

        <div class="dimension-input">
            <h4>Width:</h4>
            <mat-form-field mat-form-field appearance="fill">
                <input matInput id="widthInput" name="widthInput" class="form-control" [(ngModel)]="data.drawingWidth"
                    placeholder="Window width: {{data.defaultWidth}}px" pattern="^[1-9][0-9]*$" #widthInput="ngModel">
                <div *ngIf="widthInput.invalid && (widthInput.dirty || widthInput.touched)" class="alert alert-danger">
                    <mat-error *ngIf="widthInput.errors.pattern">
                        Width must be numeric and not start with 0.
                    </mat-error>
                </div>
            </mat-form-field>
        </div>

        <h4>Please enter a background colour</h4>
        <mat-form-field mat-form-field appearance="fill">
            <input matInput id="colourInput" name="colourInput" class="form-control"
                [(ngModel)]="data.drawingBackgroundColor" placeholder="Background: #ffffff (white)"
                pattern="^#[0-9a-f]{6}$" #colourInput="ngModel">
            <div *ngIf="colourInput.invalid && (colourInput.dirty || colourInput.touched)" class="alert alert-danger">
                <mat-error *ngIf="colourInput.errors.pattern">
                    Colour must be hexadecimal: start with # and have 6 characters from 0-9 or a-f.
                </mat-error>
            </div>
        </mat-form-field>

    </div>
    <div mat-dialog-actions class='new_drawing'>
        <button mat-raised-button (click)="onCloseClick()">Close</button>
        <button mat-raised-button (click)="onAcceptClick()">Accept</button>
    </div>
</div>