<div class="mainContainer">

    <div class="LatBar">
        <img id="pencil" class="sideBarIcon" src="https://i.imgur.com/ggPGxpn.png" title=Pencil>
        <img id="pen" class="sideBarIcon" src="https://i.imgur.com/WpG8Jy2.png" title=Pen>
        <img id="fillBucket" class="sideBarIcon" src="https://i.imgur.com/Y0uukWJ.png" title="Paint bucket">
        <img id="brush" class="sideBarIcon" src="https://i.imgur.com/QcePo5S.png" title="Brush">
        <img id="feather" class="sideBarIcon" src="https://i.imgur.com/xwBu4Rd.png" title="Feather">
        <img id="sprayCan" class="sideBarIcon" src="https://i.imgur.com/4rxfzhH.png" title="Spray can">
        <img id="shapes" class="sideBarIcon" src="https://i.imgur.com/K6wI9it.png">

    </div>
    <div class="AttributePanel">
    </div>
    <div class="greyBox">
        <div class="whiteBox"></div>
    </div>

</div>