<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="color-wrapper">
  <app-color-palette #palette (color)="color = $event" (color2)="color2 = $event"  [colors] = "colors" [mainColor] = "mainColor" [alpha]= "alpha"></app-color-palette>
<div>
      <div class="box" [ngStyle]="{'background-color': colors[0]} "(click)= "setColor(colors[0])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[1]} " (click)= "setColor(colors[1])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[2]} " (click)= "setColor(colors[2])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[3]} " (click)= "setColor(colors[3])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[4]} " (click)= "setColor(colors[4])">
      </div>
    </div>
    <div>
      <div class="box" [ngStyle]="{'background-color': colors[5]} " (click)= "setColor(colors[5])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[6]} " (click)= "setColor(colors[6])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[7]}" (click)= "setColor(colors[7])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[8]} " (click)= "setColor(colors[8])">
      </div>
      <div class="box" [ngStyle]="{'background-color': colors[9]} " (click)= "setColor(colors[9])">
      </div>
      
    </div>
</div>

<div class="input-wrapper" >
    <div
     class="color-preview"
      id = "primary" 
      [ngStyle]="{'background-color': color }"
      (click)="chooseColor(true)"
    ></div>

    <div class = "button">
    <button type="button" 
    (click)="switchColors()"
    ><i class="fa fa-arrows-h"></i></button>
    </div>

    <div
      class="color-preview"
      id = "secondary"
      [ngStyle]="{'background-color': color2}"
      (click)="chooseColor(false)"
    ></div>
</div>
<!--
<div>
  [ngClass]="{
    'main-color.clicked': mainColor = true,
    'main-color.not-clicked': mainColor = false}">
</div>

<!--
<div class="input-color">
  Input <input id="hex" type="text"  (ngOnChanges)="setColor()">
  <button (click)="setColor()">
  Submit
</button>
</div>
-->
<div class="input-color">
<form action="isHexColor('#' + text.input)">
Input: <input type="text" value="ffffff">
<input type="submit" value="Submit">
</form> 

</div>
<div class="input-color">
  Input <input class="text" value="ffffff" required minlength="4"
      [(ngModel)] = "color2"(change)="isHexColor('#' + text.input)" >
</div>

<div class="input-color">
 
  
  Transparency <input type="range"  #slider min="0" max="1" value = "1" step="0.05"  class="slider" [(ngModel)]="alpha" (change)="setAlpha(slider.value)"
  >
  <span> {{alpha}} </span> 
</div>

