<!--This snippet of HTML is intended for the options box of the rectangle, loaded when the rectangle tool is selected-->
<p>
  <button (click)="getComponent().setTraceMode(1)">Contour</button>
  <button (click)="getComponent().setTraceMode(2)">Plein</button>
  <button (click)="getComponent().setTraceMode(3)">Plein&Contour</button>
  <button (click)="getComponent().decreaseStrokeWidth()">-</button>
  {{getComponent().StrokeWidth}}
  <button (click)="getComponent().increaseStrokeWidth()">+</button>
</p>
  
