<svg tabindex = "0" class = "previewPinceau" x=0 y=0 [attr.width]="windowWidth" [attr.height]="windowHeight" >
    
    <filter id="filter1">
            <feTurbulence type="turbulence" baseFrequecy = "0.05"  numOctaves = "2" result="turbulence" />
            <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="50" xChannelSelector="R"
                yChannelSelector="G" />
    </filter>
    
    <filter id="filter2">
        <feGaussianBlur in="SourceGraphic" stdDeviation="5"/>
    </filter>

    <filter id="filter3">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
    </filter>
        
    <filter id="filter4">
        <feOffset result="offOut" in="SourceAlpha" dx="20" dy="20" />
        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10" />
        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>

    
    <polyline 
        id="current"
        [attr.points]="stroke.points"
        [style.fill]="stroke.fill"
        [style.stroke]="stroke.color"
        [style.stroke-width]="stroke.strokeWidth"
        [style.stroke-linecap]="stroke.strokeLinecap"
        [style.stroke-linestroke]="stroke.strokeLinejoin" 
        [style.filter]="stroke.filter"/>
</svg>