<svg tabindex = "0" class = "previewPinceau" x=0 y=0 [attr.width]="windowWidth" [attr.height]="windowHeight" >
    <filter id="displacementFilter">
            <feTurbulence type="turbulence" [attr.baseFrequency]="currentFilter.baseFrequency" [attr.numOctaves]="currentFilter.numOctaves" result="turbulence" />
            <feDisplacementMap in2="turbulence" in="SourceGraphic" [attr.scale]="currentFilter.scale" xChannelSelector="R"
                yChannelSelector="G" />
    </filter>
    <polyline 
        id="current"
        [attr.points]="stroke.points"
        [style.fill]="stroke.fill"
        [style.stroke]="stroke.color"
        [style.stroke-width]="stroke.strokeWidth"
        [style.stroke-linecap]="stroke.strokeLinecap"
        [style.stroke-linestroke]="stroke.strokeLinejoin" 
        [style.filter]="stroke.filter"/>
</svg>