<div class="welcome-box">
    <h2 id='title' mat-dialog-title>Bienvenue à POLYDESSIN!</h2>
    <mat-dialog-content class='welcome-box' id='instructions'>
        <img class = "left" src = "../../../../assets/Icon/PolyBee.png">
        Ici vous pouvez: 
        <ul>
            <li>Créer un nouveau dessin</li>
            <li>Dessiner avec différentes textures</li>
            <li>Tracer des formes variées</li>
            <li>...et plus encore!</li>
        </ul>
        <p>Pour avoir plus d'informations concernant l'utilisation du site, <br>
            à n'importe quel moment, veuillez consulter le <a style='color:lightskyblue' href="../../../../assets/lateral-bar/Guide d'utilisation.pdf">
                <b>Guide d'utilisation</b></a>  <br>
            en cliquant le symbole <img class = "help" src='../../../../assets/sidebar/help.png'>
            sur la barre latérale à gauche.
        </p>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <mat-checkbox id='chbx-showAgain' (click)='reverseCheckboxClicked()'>Ne plus m'afficher ce texte.</mat-checkbox>
        <button id='btn-close' mat-raised-button (click)="onClose()">Fermer</button>
    </div>
    <br>
</div>
