<div class="welcome-box">
    <h2 class='welcome-box' id='title' mat-dialog-title>Bienvenue au site J'Opine!</h2>
    <mat-dialog-content class='welcome-box' id='instructions'>
        Ici vous pouvez: 
        <ul>
            <li>Créer un nouveau dessin</li>
            <li>Dessiner avec différentes textures</li>
            <li>Tracer des formes variées</li>
            <li>...et plus encore!</li>
        </ul>
        <p>Pour avoir plus d'informations concernant l'utilisation du site, 
            à n'importe quel moment, veuillez consulter le <a style='color:lightskyblue' href="https://moodle.polymtl.ca/pluginfile.php/442186/mod_resource/content/11/LOG2990%20-%20Polydessin%202019-3%20v1.2.pdf">
                <b>Guide d'utilisation</b></a> 
            en cliquant le symbol <img src='../../../../assets/lateral-bar/guide_utilisation.svg'>
            sur la barre latérale à gauche.
        </p>
    </mat-dialog-content><br><br>
    <div class='welcome-box'>
            <mat-checkbox id='chbx-showAgain' [(ngModel)]='isChecked'>Ne plus m'afficher ce texte.</mat-checkbox>
    </div>
    <div mat-dialog-actions class='welcome-box'>
        <button id='btn-close' mat-raised-button (click)="onCloseClick()">Fermer</button>
    </div>
</div>
