<svg tabindex="0" class='previewLine' x=0 y=0 [attr.width]="windowWidth" [attr.height]="windowHeight">

  <polyline id = "current"
            [attr.points]="shape.points"
            [style.stroke]="shape.color" 
            [style.stroke-opacity]="shape.strokeOpacity"
            [style.stroke-width]="shape.strokeWidth"
            [style.fill]="shape.fill"
            [style.stroke-linecap]="shape.strokeLinecap"
            [style.stroke-linestroke]="shape.strokeLinejoin"
  />

  <polyline class = "nextLinePreview" 
            id = "current"
            [attr.points]="nextLine.points"
            [style.stroke]="black" 
            [style.stroke-width]="nextLine.strokeWidth"
            [style.fill]="nextLine.fill"
            [style.stroke-linecap]="nextLine.strokeLinecap"
            [style.stroke-linestroke]="nextLine.strokeLinejoin"/>
  
</svg> 
