<svg tabindex="0" class='previewLine' x=0 y=0 [attr.width]="windowWidth" [attr.height]="windowHeight">

  <polyline class = "nextLinePreview" 
            id = "current"
            [attr.points]="stroke.points"
            [style.stroke]="stroke.color"
            [style.stroke-width]="stroke.strokeWidth" 
            [style.stroke-opacity]="0.7"
            [style.fill]="stroke.fill" 
            [style.stroke-linecap] =  "stroke.strokeLinecap"
            [style.stroke-linejoin] = "stroke.strokeLinejoin"
            [style.stroke-dasharray] = "stroke.strokeDashArray"
            />
  
</svg> 
