<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<div style='padding: 10px' *ngIf="!(toolHandler.selectedTool === toolId.NONE)">
    <div *ngIf="toolHandler.selectedTool === toolId.PAINTBRUSH">
        <p>Style de trait</p>
        <button (click)="getComponent().setFilter(0)">Aucun filtre</button><br>
        <button (click)="getComponent().setFilter(1)"> 1</button>
        <button (click)="getComponent().setFilter(2)"> 2</button>
        <button (click)="getComponent().setFilter(3)"> 3</button>
        <button (click)="getComponent().setFilter(4)"> 4</button>
        <button (click)="getComponent().setFilter(5)"> 5</button>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.PAINTBRUSH || toolHandler.selectedTool === toolId.CRAYON || toolHandler.selectedTool === toolId.LINE">
        <div>
            <p>Épaisseur de trait</p>
            <button (click)="getComponent().decreaseStrokeWidth()">-</button>
            {{getComponent().stroke.strokeWidth}}
            <button (click)="getComponent().increaseStrokeWidth()">+</button>
       </div>
    </div>

    <div *ngIf="toolHandler.selectedTool === toolId.PEN">
        <div>
            <p>Épaisseur de trait minimale</p>
            <button (click)="getComponent().decreaseMinWidth()">-</button>
            {{getComponent().minWidth}}
            <button (click)="getComponent().increaseMinWidth()">+</button>
        </div>
        <div>
            <p>Épaisseur de trait maximale</p>
            <button (click)="getComponent().decreaseMaxWidth()">-</button>
            {{getComponent().maxWidth}}
            <button (click)="getComponent().increaseMaxWidth()">+</button>
        </div>
    </div>

    <div *ngIf="toolHandler.selectedTool === toolId.QUILL">
        <div>
            <p>Longueur de trait minimale</p>
            <button (click)="getComponent().decreaseLineLength()">-</button>
            {{getComponent().lineLength}}
            <button (click)="getComponent().increaseLineLength()">+</button>
        </div>
        <div>
            <p>Angle</p>
            <button (click)="getComponent().decreaseAngle(1)">-</button>
            {{getComponent().angle}}
            <button (click)="getComponent().increaseAngle(1)">+</button>
        </div>
    </div>

    <div *ngIf="toolHandler.selectedTool === toolId.LINE">
        <p>Style de jonctinons</p>
        <button (click)="getComponent().setJunctionMode(pointMode.BUTT)">Angle</button>
        <button (click)="getComponent().setJunctionMode(pointMode.ROUND)">Courbe</button>
        <button (click)="getComponent().setJunctionMode(pointMode.SQUARE)">Pointe</button><br>
        
        <p>Style de lignes</p>
        <button (click)="getComponent().setTraceMode(mode.STRAIGHT)">[&mdash;&mdash;]</button>
        <button (click)="getComponent().setTraceMode(mode.DOTTED_POINT)">[---]</button>
        <button (click)="getComponent().setTraceMode(mode.DOTTED_LINE)">[•••]</button><br>
        <div>
            <p>Grosseur de points</p>
            <button (click)="getComponent().decreasePointWidth()">-</button>
            {{getComponent().stroke.pointWidth}}
            <button (click)="getComponent().increasePointWidth()">+</button>
        </div>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.ELLIPSE || toolHandler.selectedTool === toolId.RECTANGLE
                || toolHandler.selectedTool === toolId.POLYGON">
            <p>Style de remplissage</p>
            <button (click)="getComponent().setTraceMode(mode.CONTOUR)">Contour</button>
            <button (click)="getComponent().setTraceMode(mode.FILL)">Plein</button>
            <button (click)="getComponent().setTraceMode(mode.CONTOUR_FILL)">Plein&Contour</button>
            <p>Epaisseur du trait</p>
            <button (click)="getComponent().decreaseStrokeWidth()">-</button>
            {{getComponent().shape.strokeWidth}}
            <button (click)="getComponent().increaseStrokeWidth()">+</button>
        </div>
    <div *ngIf="toolHandler.selectedTool === toolId.RECTANGLE || toolHandler.selectedTool === toolId.POLYGON">
        <div *ngIf="toolHandler.selectedTool === toolId.POLYGON">
            <p>Nombre de vertex</p>
            <button (click)="getComponent().decreaseVertexNumber()">-1 Sommet</button>
            {{getComponent().shape.verticesNumber}}
            <button (click)="getComponent().increaseVertexNumber()">+1 sommet</button>
        </div>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.ERASER">
        <h3>Taille de l'efface</h3>
        <input type="number" [(ngModel)]="getComponent().size" min="1" max="40" (change)="getComponent().validateSize()">
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.STAMP">
        <a class="filter" (click)="getComponent().setStamp(0)">
            <img id="star" src="../../../../../../assets/stamps/grade-24px.svg" title="Étoile">
        </a>
        <a class="filter" (click)="getComponent().setStamp(1)">
            <img id="paw" src="../../../../../../assets/stamps/pets-24px.svg" title="Animaux">
        </a>
        <a class="filter" (click)="getComponent().setStamp(2)">
            <img id="smile" src="../../../../../../assets/stamps/sentiment_satisfied_alt-24px.svg" title="Bonhomme souriant">
        </a>
        <a class="filter" (click)="getComponent().setStamp(3)">
            <img id="heart" src="../../../../../../assets/stamps/favorite-24px.svg" title="Coeur">
        </a>
        <a class="filter" (click)="getComponent().setStamp(4)">
            <img id="thumbsup" src="../../../../../../assets/stamps/thumb_up-24px.svg" title="Thumbs up">
        </a>
        <a class="filter" (click)="getComponent().setStamp(5)">
            <img id="sun" src="../../../../../../assets/stamps/brightness_5-24px.svg" title="Soleil">
        </a>
        <div >
            <p>Mise à l'échelle</p>
            <button (click)="getComponent().decreaseScaleFactor()">-</button>
            {{getComponent().stamp.scaleFactor}}
            <button (click)="getComponent().increaseScaleFactor()">+</button>
            <p>Angle</p>
            <input type="number" name="angle" [(ngModel)]="getComponent().stamp.angle" size="3">
        </div>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.TEXT">
        <div >
            <p>Taille du texte</p>
            <button (click)="getComponent().decreaseFontSize()">-</button>
            {{getComponent().text.fontSize}}
            <button (click)="getComponent().increaseFontSize()">+</button>
            <p>Police du texte</p>
            <select name='fontFamilySelection' [(ngModel)]="getComponent().fontFamilySelection">
                <option value='Arial, Helvetica, sans-serif' style="font-family: Arial, Helvetica, sans-serif;">Arial</option>
                <option value='Cambria, Cochin, Georgia, Times, "Times New Roman", serif' style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cambria</option>
                <option value='"Courier New", Courier, monospace' style="font-family:'Courier New', Courier, monospace;">Courier New</option>
                <option value='cursive' style="font-family: cursive;">Cursive</option>
                <option value='"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif' style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Franklin Gothic</option>
                <option value='Georgia, serif' style="font-family: Georgia, serif;">Georgia</option>
                <option value='"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif' style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Gill Sans</option>
                <option value='Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif' style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Impact</option>
                <option value='"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif' style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Lucinda Sans</option>
                <option value='"Segoe UI", Tahoma, Geneva, Verdana, sans-serif' style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Segoe UI</option>
                <option value='"Times New Roman", Times, serif' style="font-family: 'Times New Roman', Times, serif;">Times New Roman</option>
                <option value='"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif' style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Trebuchet MS</option>
                <option value='Verdana, Geneva, Tahoma, sans-serif' style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Verdana</option>
            </select>
        </div>
        <div >
            <a class="filter" (click)="getComponent().toItalic()">
                <img id="italic" src="../../../../../../assets/text-options/format_italic-24px.svg" title="Italique">
            </a>
            <a class="filter" (click)="getComponent().toBold()">
                <img id="bold" src="../../../../../../assets/text-options/format_bold-24px.svg" title="Gras">
            </a><br>
            <a class="filter" (click)="getComponent().alignText(0)">
                <img id="left" src="../../../../../../assets/text-options/format_align_left-24px.svg" title="Gauche">
            </a>
            <a class="filter" (click)="getComponent().alignText(1)">
                <img id="center" src="../../../../../../assets/text-options/format_align_center-24px.svg" title="Centré">
            </a>
            <a class="filter" (click)="getComponent().alignText(2)">
                <img id="right" src="../../../../../../assets/text-options/format_align_right-24px.svg" title="Droite">
            </a>
        </div>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.SPRAY_CAN">
        <div>
        <p>Diamètre du jet: {{getComponent().diameter}}</p>
        <label class="slider">
            <input type="range" [attr.min]="getComponent().constants.MIN_DIAMETER" [attr.max]="getComponent().constants.MAX_DIAMETER"
            [attr.step]="getComponent().constants.DIAMETER_STEP" [(ngModel)]="getComponent().diameter">
        </label>
        <br>
        <p>Émissions par seconde: {{getComponent().sprayPerSecond}}</p>
        <label class="slider" >
            <input type="range" min=1 [attr.max]="getComponent().constants.MAX_SPRAY_PER_SECOND" step=1 [(ngModel)]="getComponent().sprayPerSecond">
        </label>  
        </div>
    </div>
</div>
