<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<div style='padding: 10px' *ngIf="!(toolHandler.selectedTool === toolId.NONE)">
    <div *ngIf="toolHandler.selectedTool === toolId.PAINTBRUSH || toolHandler.selectedTool === toolId.CRAYON || toolHandler.selectedTool === toolId.LINE">
        <div>
            <p> Épaisseur de trait </p>
            <mat-slider title="Épaisseur de trait"
            [max]="40" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="1" 
            [(ngModel)]="getComponent().stroke.strokeWidth" (input)="getComponent().stroke.strokeWidth = $event.value">
            </mat-slider>
            <label> {{getComponent().stroke.strokeWidth}} </label>
        </div>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.PAINTBRUSH">
        <p>Style de trait</p>
        <mat-button-toggle-group  style = "flex-wrap: wrap; border-color: rgba(0,0,0,0);" value="None">
            <mat-button-toggle style = "width: 92%" value="None" (click)="getComponent().setFilter(0)">Aucun filtre </mat-button-toggle>
            <mat-button-toggle style = "width: 18%" (click)="getComponent().setFilter(1)"> 1 </mat-button-toggle>
            <mat-button-toggle style = "width: 18%" (click)="getComponent().setFilter(2)">2 </mat-button-toggle>
            <mat-button-toggle style = "width: 18%" (click)="getComponent().setFilter(3)">3 </mat-button-toggle>
            <mat-button-toggle style = "width: 18%" (click)="getComponent().setFilter(4)">4 </mat-button-toggle>
            <mat-button-toggle style = "width: 18%" (click)="getComponent().setFilter(5)">5 </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.PEN">
        <div>
            <p> Épaisseur de trait maximale </p>
            <mat-slider title="Épaisseur de trait maximal"
            [max]="40" [min]="getComponent().minWidth" [step]="1" [thumbLabel]="true" [tickInterval]="1"
            [(ngModel)]="getComponent().maxWidth" (input)="getComponent().maxWidth = $event.value">
            </mat-slider>
            <label> {{getComponent().maxWidth}} </label>
        </div>
        <div>
            <p> Épaisseur de trait minimal </p>
            <mat-slider title="Épaisseur de trait minimal"
            [max]="getComponent().maxWidth" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="1" 
            [(ngModel)]="getComponent().minWidth" (input)="getComponent().minWidth = $event.value">
            </mat-slider>
            <label> {{getComponent().minWidth}} </label>
        </div>
    </div>

    <div *ngIf="toolHandler.selectedTool === toolId.QUILL">
        <div>
            <p> Longueur de trait minimale </p>
            <mat-slider title="Longueur de trait minimale"
            [min]="5" [max]="40" [step]="1" [thumbLabel]="true" [tickInterval]="1"
            [(ngModel)]="getComponent().lineLength" (input)="getComponent().lineLength = $event.value">
            </mat-slider>
            <label> {{getComponent().lineLength}} </label>
        </div>
        <div>
            <p> Angle </p>
            <mat-slider title="Angle"
            [min]="0" [max]="180" [step]="1" [thumbLabel]="true" [tickInterval]="1"
            [(ngModel)]="getComponent().angle" (input)="getComponent().angle = $event.value">
            </mat-slider>
            <label> {{getComponent().angle}} </label>
        </div>
    </div>

    <div *ngIf="toolHandler.selectedTool === toolId.LINE">
        <p>Style de jonctions</p>
        <a mat-button (click)="getComponent().setJunctionMode(pointMode.BUTT)">Angle</a>
        <a mat-button (click)="getComponent().setJunctionMode(pointMode.ROUND)">Courbe</a>
        <a mat-button (click)="getComponent().setJunctionMode(pointMode.SQUARE)">Pointe</a ><br>
        <mat-button-toggle-group value="Straight">
            <mat-button-toggle style = "width: 33%" value="Straight" (click)="getComponent().setJunctionMode(pointMode.BUTT)">Angle</mat-button-toggle>
            <mat-button-toggle style = "width: 33%" (click)="getComponent().setJunctionMode(pointMode.ROUND)">Courbe</mat-button-toggle>
            <mat-button-toggle style = "width: 33%" (click)="getComponent().setJunctionMode(pointMode.SQUARE)">Pointe </mat-button-toggle>
        </mat-button-toggle-group>
        <p>Style de lignes</p>
        <mat-button-toggle-group value="Straight">
            <mat-button-toggle style = "width: 33%" value="Straight" (click)="getComponent().setTraceMode(mode.STRAIGHT)">&#9473;</mat-button-toggle>
            <mat-button-toggle style = "width: 33%" (click)="getComponent().setTraceMode(mode.DOTTED_POINT)">- - - </mat-button-toggle>
            <mat-button-toggle style = "width: 33%" (click)="getComponent().setTraceMode(mode.DOTTED_LINE)">••• </mat-button-toggle>
        </mat-button-toggle-group>
        <div *ngIf="getComponent().junctionMode === pointMode.SQUARE">
            <p>Grosseur de points</p>
            <mat-slider title="Grosseur de points"
            [min]="1" [max]="20" [step]="1" [thumbLabel]="true" [tickInterval]="1" 
            [(ngModel)]="getComponent().stroke.pointWidth" (input)="getComponent().stroke.pointWidth = $event.value">
            </mat-slider>
            {{getComponent().stroke.pointWidth}}
        </div>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.ELLIPSE || toolHandler.selectedTool === toolId.RECTANGLE
                || toolHandler.selectedTool === toolId.POLYGON">
            <p>Style de remplissage</p>

            <mat-button-toggle-group  style = "flex-wrap: wrap; border-color: rgba(0,0,0,0);" value="All">
                <mat-button-toggle style = "width: 49%" (click)="getComponent().setTraceMode(mode.CONTOUR)">Contour </mat-button-toggle>
                <mat-button-toggle style = "width: 49%" (click)="getComponent().setTraceMode(mode.FILL)">Plein </mat-button-toggle>
                <mat-button-toggle style = "width: 98%" value="All" (click)="getComponent().setTraceMode(mode.CONTOUR_FILL)" >
                    Contour & Plein </mat-button-toggle>
            </mat-button-toggle-group>
            <p> Épaisseur du trait </p>
            <mat-slider title="Épaisseur du trait"
            [min]="1" [max]="20" [step]="1" [thumbLabel]="true" [tickInterval]="1" 
            [(ngModel)]="getComponent().shape.strokeWidth" (input)="getComponent().shape.strokeWidth = $event.value">
            </mat-slider>
            <label> {{getComponent().shape.strokeWidth}} </label>
    </div>

    <div *ngIf="toolHandler.selectedTool === toolId.POLYGON">
        <p> Nombre de vertex </p>
        <mat-slider title="Nombre de vertex"
        [min]="3" [max]="12" [step]="1" [thumbLabel]="true" [tickInterval]="1"
        [(ngModel)]="getComponent().shape.verticesNumber" (input)="getComponent().shape.verticesNumber = $event.value">
        </mat-slider>
        <label> {{getComponent().shape.verticesNumber}} </label>
        
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.ERASER">
        <p> Taille de l'efface </p>
        <mat-slider title="Taille de l'efface"
        [min]="1" [max]="40" [step]="1" [thumbLabel]="true" (change)="getComponent().validateSize()" [tickInterval]="1" 
        [(ngModel)]="getComponent().size" (input)="getComponent().size = $event.value">
        </mat-slider>
        <label> {{getComponent().size}} </label>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.STAMP">
        <a class="filter" (click)="getComponent().setStamp(0)">
            <img id="star" src="../../../../../../assets/stamps/grade-24px.svg" title="Étoile">
        </a>
        <a class="filter" (click)="getComponent().setStamp(1)">
            <img id="paw" src="../../../../../../assets/stamps/pets-24px.svg" title="Animaux">
        </a>
        <a class="filter" (click)="getComponent().setStamp(2)">
            <img id="smile" src="../../../../../../assets/stamps/sentiment_satisfied_alt-24px.svg" title="Bonhomme souriant">
        </a>
        <a class="filter" (click)="getComponent().setStamp(3)">
            <img id="heart" src="../../../../../../assets/stamps/favorite-24px.svg" title="Coeur">
        </a>
        <a class="filter" (click)="getComponent().setStamp(4)">
            <img id="thumbsup" src="../../../../../../assets/stamps/thumb_up-24px.svg" title="Thumbs up">
        </a>
        <a class="filter" (click)="getComponent().setStamp(5)">
            <img id="sun" src="../../../../../../assets/stamps/brightness_5-24px.svg" title="Soleil">
        </a>
        <div >   
            <p>Mise à l'échelle</p>
            <mat-slider title="Mise à l'échelle"
            [min]="1" [max]="15" [step]="1" [thumbLabel]="true" [tickInterval]="1" (click)="$event.stopPropagation()"
            (change)="getComponent().multiplyScaleFactor()" [(ngModel)]="getComponent().stamp.scaleFactor" 
            (input)="getComponent().stamp.scaleFactor = $event.value">
            </mat-slider>
            <label> {{getComponent().stamp.scaleFactor}} </label>

            <p>Angle </p>
            <mat-slider title="Angle"
            [min]="1" [max]="180" [step]="1" [thumbLabel]="true" [tickInterval]="1"
            (click)="$event.stopPropagation()" [(ngModel)]="getComponent().stamp.angle" (input)="getComponent().stamp.angle = $event.value">
            </mat-slider>
            <label> {{getComponent().stamp.angle}} </label>
        </div>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.TEXT">
        <div >
            <p>Taille du texte</p>
            
            <mat-slider title="Taille du texte"
            [min]="5" [max]="60" [step]="1" [thumbLabel]="true" [tickInterval]="1"
            (click)="$event.stopPropagation()" [(ngModel)]="getComponent().text.fontSize" (input)="getComponent().text.fontSize = $event.value">
            </mat-slider>
            <label> {{getComponent().text.fontSize}} </label>
            <mat-form-field>
                <p>Police du texte</p>
                <mat-select name='fontFamilySelection' [(ngModel)]="getComponent().fontFamilySelection">
                    <mat-option value='Arial, Helvetica, sans-serif' style="font-family: Arial, Helvetica, sans-serif;">Arial</mat-option>
                    <mat-option value='Cambria, Cochin, Georgia, Times, "Times New Roman", serif' style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cambria</mat-option>
                    <mat-option value='"Courier New", Courier, monospace' style="font-family:'Courier New', Courier, monospace;">Courier New</mat-option>
                    <mat-option value='cursive' style="font-family: cursive;">Cursive</mat-option>
                    <mat-option value='"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif' style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Franklin Gothic</mat-option>
                    <mat-option value='Georgia, serif' style="font-family: Georgia, serif;">Georgia</mat-option>
                    <mat-option value='"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif' style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Gill Sans</mat-option>
                    <mat-option value='Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif' style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Impact</mat-option>
                    <mat-option value='"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif' style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Lucinda Sans</mat-option>
                    <mat-option value='"Segoe UI", Tahoma, Geneva, Verdana, sans-serif' style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Segoe UI</mat-option>
                    <mat-option value='"Times New Roman", Times, serif' style="font-family: 'Times New Roman', Times, serif;">Times New Roman</mat-option>
                    <mat-option value='"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif' style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Trebuchet MS</mat-option>
                    <mat-option value='Verdana, Geneva, Tahoma, sans-serif' style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Verdana</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-button-toggle-group  multiple = "true">
            <mat-button-toggle (click)="getComponent().toItalic()">
                <img class="filter" id="italic" src="../../../../../../assets/text-options/format_italic-24px.svg" title="Italique">
            </mat-button-toggle>
            <mat-button-toggle  (click)="getComponent().toBold()">
                <img class="filter" id="bold" src="../../../../../../assets/text-options/format_bold-24px.svg" title="Gras">
            </mat-button-toggle><br>
        </mat-button-toggle-group>
        <mat-button-toggle-group>
            <mat-button-toggle  (click)="getComponent().alignText(0)">
                <img class="filter" id="left" src="../../../../../../assets/text-options/format_align_left-24px.svg" title="Gauche">
            </mat-button-toggle>
            <mat-button-toggle (click)="getComponent().alignText(1)">
                <img class="filter" id="center" src="../../../../../../assets/text-options/format_align_center-24px.svg" title="Centré">
            </mat-button-toggle>
            <mat-button-toggle (click)="getComponent().alignText(2)">
                <img class="filter" id="right" src="../../../../../../assets/text-options/format_align_right-24px.svg" title="Droite">
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div *ngIf="toolHandler.selectedTool === toolId.SPRAY_CAN">
        <div>
        <p>Diamètre du jet</p>
        <mat-slider title = "Diamètre du jet"
        [min]="getComponent().constants.MIN_DIAMETER" [max]="getComponent().constants.MAX_DIAMETER" [step]="1" [thumbLabel]="true" [tickInterval]="1"
        (click)="$event.stopPropagation()" [(ngModel)]="getComponent().diameter" (input)="getComponent().diameter = $event.value">
        </mat-slider>
        <label>{{getComponent().diameter}}</label>
        <br>
        <p>Émissions par seconde: </p>
        
        <mat-slider title = "Diamètre du jet"
        [min]="1" [max]="getComponent().constants.MAX_SPRAY_PER_SECOND" [step]="1" [thumbLabel]="true" [tickInterval]="1"
        (click)="$event.stopPropagation()" [(ngModel)]="getComponent().sprayPerSecond" (input)="getComponent().sprayPerSecond = $event.value">
        </mat-slider>
        <label>{{getComponent().sprayPerSecond}}</label>
        </div>
    </div>
</div>
