<div>
    <mat-toolbar color="secondary">
        <h1 class="app-name">J'Opine</h1>
    </mat-toolbar>

    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidenav mode="side" opened fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item class="filter">
                    <img id="newDrawing" class="sideBarIcon" src="https://visualpharm.com/assets/375/Create-595b40b75ba036ed117d7bbf.svg" 
                    title="Nouveau dessin" (click)="openNewDrawingDialog()">
                </a>
                <a mat-list-item class="filter">
                    <img id="pencil" class="sideBarIcon" src="https://i.imgur.com/ggPGxpn.png" title="Crayon"
                    (click)='storage.chooseOther()'>
                </a>
                <a mat-list-item class="filter">
                    <img id="pen" class="sideBarIcon" src="https://i.imgur.com/WpG8Jy2.png" title="Stylo"
                    (click)='storage.chooseOther()'>
                </a>
                <a mat-list-item>
                    <img id="colour-picker" class="sideBarIcon" src="../../../assets/lateral-bar/colorize.svg" title="Applicateur de couleur"
                    (click)='snav.toggle("app-color-picker")'>
                </a>
                <a mat-list-item class="filter">
                    <img id="fillBucket" class="sideBarIcon" src="https://i.imgur.com/Y0uukWJ.png" title="Sceau"
                    (click)='storage.chooseOther()'>
                </a>
                <a mat-list-item class="filter">
                    <img id="brush" class="sideBarIcon" src="https://i.imgur.com/QcePo5S.png" title="Pinceau"
                    (click)='storage.chooseOther()'>
                </a>
                <a mat-list-item class="filter">
                    <img id="feather" class="sideBarIcon" src="https://i.imgur.com/xwBu4Rd.png" title="Plume"
                    (click)='storage.chooseOther()'>
                </a>
                <a mat-list-item class="filter">
                    <img id="sprayCan" class="sideBarIcon" src="https://i.imgur.com/4rxfzhH.png" title="Aérosol"
                    (click)='storage.chooseOther()'>
                </a>
                <a mat-list-item class="filter">
                    <img id="shapes" class="sideBarIcon" src="https://i.imgur.com/K6wI9it.png" title="Rectangle" 
                    (click)='storage.chooseRectangle()'>
                </a>
                <a mat-list-item href="../../../assets/lateral-bar/Guide d'utilisation.pdf">
                    <img src="../../../assets/lateral-bar/guide_utilisation.svg" title="Guide d'utilisation">
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav #snav [disableClose]='true'>
            <mat-nav-list>
                <app-color-picker #picker></app-color-picker>
                <button type="button" (click)="snav.close()" mat-raised-button>Fermer</button>
                <button id="accepter" type="button" (click)="storage.chooseColourApplicator(picker.color[0], picker.color[1]); snav.close()" mat-raised-button>Accepter</button>
            </mat-nav-list>
        </mat-sidenav>
        <app-mock-canvas style="width: 0; height: 0" ></app-mock-canvas>
    </mat-sidenav-container>

</div>