.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    flex: 1 0 auto;
    margin-top: 56px;
}

.app-name {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 56px;
    font-size: x-large;
}

::ng-deep .mat-select-content {
  width: min-content;
  height: auto;
}

.option {
  padding-left: 8px; 
  color: black;
}

.disabled {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(229deg) brightness(50%) contrast(102%);
  font-family: Arial, Helvetica, sans-serif;
}

.filter {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(229deg) brightness(107%) contrast(102%);
  font-family: Arial, Helvetica, sans-serif;
}

.filter img {
  width: 24px;
  height: auto;
}

.colour-preview{
    height: 14px;
    width: 14px;
    border-radius: 50px;
    border: 2px solid grey;
    padding: 4px;
    cursor: pointer;
  }

  .switchIcon{
    // transform: rotate(90deg);
    height: auto;
    width: 24px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(229deg) brightness(107%) contrast(102%);
  }

  .switchIcon img{
    width: 24px;
    height: auto;
  }

  .choose-colour-window{
    height: 200px;
    width: 200px;
  }

  .clipboardIcon {
    height: 18px;
    width: auto;
  }

  .sideBarIcon {
    height: 18px;
    width: 18px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }