<div>
    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidenav mode="side" opened fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item class="filter">
                    <img id="pencil" class="sideBarIcon" src="https://i.imgur.com/ggPGxpn.png" title="Crayon">
                </a>
                <a mat-list-item class="filter">
                    <img id="pen" class="sideBarIcon" src="https://i.imgur.com/WpG8Jy2.png" title="Stylo">
                </a>
                <a mat-list-item class="filter">
                    <img id="fillBucket" class="sideBarIcon"  src="https://i.imgur.com/Y0uukWJ.png" title="Sceau">
                </a>
                <a mat-list-item class="filter">
                    <img id="brush" class="sideBarIcon" src="https://i.imgur.com/QcePo5S.png" title="Pinceau">
                </a>
                <a mat-list-item class="filter">
                    <img id="feather" class="sideBarIcon" src="https://i.imgur.com/xwBu4Rd.png" title="Plume">
                </a>
                <a mat-list-item class="filter">
                    <img id="sprayCan" class="sideBarIcon" src="https://i.imgur.com/4rxfzhH.png" title="Aérosol">
                </a>
                <a mat-list-item class="filter">
                    <img id="shapes" class="sideBarIcon" src="https://i.imgur.com/K6wI9it.png" title="Formes">
                </a>
                <a mat-list-item id="userGuide">
                    <img src="../../../assets/lateral-bar/guide_utilisation.svg" title="Guide d'utilisation">
                </a>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
