.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    flex: 1 0 auto;
    margin-top: 56px;
}


.example-toolbar {
    position: fixed;
    z-index: 2;
}

.filter {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(229deg) brightness(107%) contrast(102%);
}

.filter img {
    width: 24px;
    height: auto;
}


.filter:hover {
    background-color: gray;
}


#userGuide:hover {
    background-color: gray;
}