<div class='previewHolder'>
    <svg [attr.viewBox]="viewboxCoordinates">
        <!--This allows the svg to be scaled down-->
        <filter id="filter1">
            <feTurbulence type="turbulence" baseFrequency="0.05" numOctaves="1" result="turbulence" />
            <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="10" xChannelSelector="R"
                yChannelSelector="G" />
        </filter>

        <filter id="filter2">
            <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
        </filter>

        <filter id="filter3">
            <feTurbulence type="turbulence" baseFrequency="0.05" numOctaves="1" result="turbulence" />
            <feGaussianBlur in="SourceGraphic" stdDeviation="3" result="blurOut" />
            <feDisplacementMap in2="turbulence" in="blurOut" scale="10" xChannelSelector="R" yChannelSelector="G" />
        </filter>

        <filter id="filter4">
            <feOffset result="offOut" in="StrokePaint" dx="0.05" dy="0.05" />
            <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
            <feOffset result="offOut2" in="StrokePaint" dx="0.2" dy="0.2" />
            <feGaussianBlur result="blurOut2" in="offOut2" stdDeviation="5" />
            <feBlend in="blurOut" in2="blurOut2" mode="normal" />
        </filter>

        <rect width=100% height=100% [attr.fill]="previewedDrawing.canvas.drawingColour" />

        <g *ngFor="let drawing of previewedDrawing.shapes">
            <g [ngSwitch]="drawing.id">

                <g *ngSwitchCase="toolId.LINE" (click)="applyColourToLine(drawing)"
                    (contextmenu)="getColourFromLine($event, drawing)">
                    <polyline [attr.points]="drawing.points" [style.fill]="drawing.fill" [style.stroke]="drawing.colour"
                        [style.stroke-opacity]="drawing.strokeOpacity" [style.stroke-width]="drawing.strokeWidth"
                        [style.stroke-linecap]="drawing.strokeLinecap" [style.stroke-linejoin]="drawing.strokeLinejoin"
                        [style.stroke-dasharray]="drawing.strokeDashArray" />
                </g>

                <g *ngSwitchCase="toolId.STAMP">
                    <image [attr.x]="drawing.x" [attr.y]="drawing.y" [attr.width]="drawing.width"
                        [attr.height]="drawing.height" [attr.href]="drawing.svgReference"
                        [attr.transform]="'rotate('+ drawing.angle + ',' + drawing.centerX + ',' + drawing.centerY + ')'" />
                </g>

                <g *ngSwitchCase="toolId.CRAYON" (click)="applyColourToLine(drawing)"
                    (contextmenu)="getColourFromLine($event, drawing)">
                    <polyline [attr.points]="drawing.points" [style.fill]="drawing.fill" [style.stroke]="drawing.colour"
                        [style.stroke-width]="drawing.strokeWidth" [style.stroke-linecap]="drawing.strokeLinecap"
                        [style.stroke-linejoin]="drawing.strokeLinejoin" />
                </g>

                <g *ngSwitchCase="toolId.PAINTBRUSH" (click)="applyColourToLine(drawing)"
                    (contextmenu)="getColourFromLine($event, drawing)">
                    <polyline [attr.points]="drawing.points" [style.fill]="drawing.fill" [style.stroke]="drawing.colour"
                        [style.stroke-width]="drawing.strokeWidth" [style.stroke-linecap]="drawing.strokeLinecap"
                        [style.stroke-linejoin]="drawing.strokeLinejoin" [style.filter]="drawing.filter" />
                </g>

                <g *ngSwitchCase="toolId.PEN" (click)="applyColourToLine(drawing)"
                    (contextmenu)="getColourFromLine($event, drawing)">
                    <g *ngFor="let svgpath of drawing.paths">
                        <path [attr.d]="svgpath.path" [style.stroke-width]="svgpath.pathWidth"
                            [style.stroke]="drawing.colour" [style.stroke-linecap]="drawing.strokeLinecap">
                        </path>
                    </g>
                </g>

                <g *ngSwitchCase="toolId.RECTANGLE" (click)="applyColourToShape($event, drawing)"
                    (contextmenu)="applySecondaryColourToShape($event, drawing)">
                    <rect [attr.x]="drawing.x" [attr.y]="drawing.y" [attr.width]="drawing.width"
                        [attr.height]="drawing.height" [style.stroke]="drawing.secondaryColour"
                        [style.fill]="drawing.primaryColour" [style.stroke-opacity]="drawing.strokeOpacity"
                        [style.stroke-width]="drawing.strokeWidth" [style.fill-opacity]="drawing.fillOpacity" />
                </g>
                <g *ngSwitchCase="toolId.ELLIPSE" (click)="applyColourToShape($event, drawing)"
                    (contextmenu)="applySecondaryColourToShape($event, drawing)">
                    <ellipse [attr.cx]="drawing.x" [attr.cy]="drawing.y" [attr.rx]="drawing.width"
                        [attr.ry]="drawing.height" [style.stroke]="drawing.secondaryColour"
                        [style.fill]="drawing.primaryColour" [style.stroke-opacity]="drawing.strokeOpacity"
                        [style.stroke-width]="drawing.strokeWidth" [style.fill-opacity]="drawing.fillOpacity" />
                </g>
                <g *ngSwitchCase="toolId.POLYGON" (click)="applyColourToShape($event, drawing)"
                    (contextmenu)="applySecondaryColourToShape($event, drawing)">
                    <polygon [attr.points]="drawing.vertices" [style.stroke]="drawing.secondaryColour"
                        [style.stroke-opacity]="drawing.strokeOpacity" [style.fill]="drawing.primaryColour"
                        [style.stroke-width]="drawing.strokeWidth" [style.fill-opacity]="drawing.fillOpacity" />
                </g>
                <g *ngSwitchCase="toolId.TEXT">
                    <text [attr.x]="drawing.alignX" [attr.y]="drawing.y" [style.font-size]="drawing.fontSize + 'pt'"
                        [style.font-style]="drawing.italic" [style.font-weight]="drawing.bold"
                        [style.font-family]="drawing.fontFamily" [style.fill]="drawing.primaryColour"
                        [attr.text-anchor]="drawing.align">
                        <tspan [attr.x]="drawing.alignX" dy="1.2em" *ngFor="let line of drawing.lines">{{ line }}
                        </tspan>
                    </text>
                </g>
                <g *ngSwitchCase="toolId.SPRAY_CAN" >
                        <g *ngFor="let spray of drawing.sprays">
                            <filter #sprayCanFilter [attr.id]="spray.seed" >
                                <feGaussianBlur in="SourceGraphic" result="blurredCircle" stdDeviation="10"/>
                                <feTurbulence type="turbulence" [attr.seed]="spray.seed" baseFrequency="0.35" stitchTiles="stitch" numOctaves="2" result="turbulence"/>
                                <feDisplacementMap in2="turbulence" in="SourceGraphic"
                                    scale="250" xChannelSelector="R" yChannelSelector="B"/>
                                <feComposite operator="in" in="spraysquare" in2="SourceGraphic" result="circularspray"/>
                            </filter>
                            <circle [attr.cy]= "spray.cy" [attr.cx]= "spray.cx" (click)="applyColourToShape($event, drawing)"
                            [attr.r]="drawing.radius" [style.fill]="drawing.primaryColour" [attr.opacity]="drawing.fillOpacity" 
                            [attr.filter]="'url(#' + spray.seed + ')'" />
                        </g>
                    </g>
            </g>
        </g>

    </svg>
</div>