.new-drawing-window {

    .mat-raised-button {
        background-color: #ffffff;
        color: #424242;
        font-family: Arial, Helvetica, sans-serif, bold;
        font-weight: bold;
        font-size: 10pt;
        padding: 0 10px 0 10px;
        margin: 5px 30px 40px 30px;
        display: inline-block;
    }

    .mat-dialog-title {
        font-size: 13pt; 
        margin: 15px;
        font-weight: 900;
    }

    .mat-dialog-content {
        font-size: 10pt;
        margin: 10px 10px 0 10px;
        font-weight: 500;
    }

    .mat-dialog-container {
        width: 65vw;
        align-content: space-around;
    }

    .mat-form-field {
        width: auto;
        display: inline-block;
    }

    .mat-error {
        font-size: 80%;
        padding: 5px 0 0 0;
    }

    .color-preview {
        height: 25px;
        width: 25px;
        border-radius: 50px;
        border: 2px solid grey;
        float: right;
        
    }
}